footer
    .footer-wrapper
        ul#dle-speedbar.breadcrumb(itemscope='' itemtype='http://schema.org/BreadcrumbList')
            li(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
                meta(itemprop='position' content='1')
                a(href='#' itemprop='item')
                    span(itemprop='name') Наследие
            li(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
                meta(itemprop='position' content='2')
                a(href='#' itemprop='item')
                    span(itemprop='name') 5 сезон
            li(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
                meta(itemprop='position' content='3')
                a(href='#' itemprop='item')
                    span(itemprop='name') 21 серия
        a.mail-to-link(href='mailto:webvizzor@gmail.com') webvizzor@gmail.com
