header.header
    .center-bl
        a.header__logo(href='/' title='')
            img(src='/images/logo.svg' alt='' width="168" height="48")
        a.header__link-on-last-episodes.mobile(href='#') Новые серии
        a.btn-menu-mobile(href='#')
            i
            i
            i
        .header-menu
            nav.header-menu-nav
                .header-menu-nav__drop-list
                    a(href='#')
                        | Список сериалов
                        svg(width='14' height='10')
                            use(xlink:href='#chevron-down-flat')
                    .header-menu-nav__wrapper-drop
                        .header-menu-nav__drop-menu
                            ul
                                li
                                    a(href='javascript:;' title="Флэш") Флэш
                                li
                                    a(href='javascript:;' title="Агенты «Щит»") Агенты «Щит»
                                li
                                    a(href='javascript:;' title="Наследие") Наследие
                                li
                                    a(href='javascript:;' title="Сокол и Зимний С...") Сокол и Зимний С...
                                li
                                    a(href='javascript:;' title='Чёрная молния') Чёрная молния
                                li
                                    a(href='javascript:;' title="Сокол и Зимний С...") Сокол и Зимний С...
                                li
                                    a(href='javascript:;' title='Чёрная молния') Чёрная молния
                                li
                                    a(href='javascript:;' title='Что если?') Что если?
                            ul
                                li
                                    a(href='javascript:;' title='Супермен и Лоис') Супермен и Лоис
                                li
                                    a(href='javascript:;' title='Ванда/Вижн') Ванда/Вижн
                                li
                                    a(href='javascript:;' title='Супергёрл') Супергёрл
                                li
                                    a(href='javascript:;' title='Старгёрл') Старгёрл
                                li
                                    a(href='javascript:;' title='Супергёрл') Супергёрл
                                li
                                    a(href='javascript:;' title='Старгёрл') Старгёрл
            a.header__link-on-last-episodes(href='#') Новые серии
            .header__social
                a(href="javascript:;")
                    svg(width="14" height="20")
                        use(xlink:href="#flag")
                    span В закладки
                a(href="javascript:;")
                    svg(width="21" height="13")
                        use(xlink:href="#vk")
                    span Вконтакте
                a(href="javascript:;")
                    svg(width="18" height="15")
                        use(xlink:href="#telegram")
                    span Узнать о новой серии!
