#svg-icon(aria-hidden='true' style='position:absolute;visibility:hidden;pointer-events:none;display:none;')
    svg(fill='none' xmlns='http://www.w3.org/2000/svg')
        symbol#arrow-left(width='10' height='10' viewBox='0 0 1024 1024')
            path(d='M7.16803 512.512L945.664 0.511963L1016.83 131.072L317.952 512.512L1016.83 893.952L945.664 1024.51L7.16803 512.512Z' fill='var(--arrow, #000)')
        symbol#arrow-right(width='10' height='10' viewBox='0 0 1024 1024')
            path(d='M1016.83 512.512L78.336 1024.51L7.16797 893.952L706.048 512.512L7.16797 131.072L78.336 0.511963L1016.83 512.512Z' fill='var(--arrow, #000)')
        symbol#kinopoisk(width='12' height='12' viewBox='0 0 1024 1024')
            path(fill='var(--kinopoisk, #000)' d='M512 0c-282.624 0-512 229.376-512 512s229.376 512 512 512 512-229.376 512-512-229.376-512-512-512zM321.536 180.224c76.288 0 138.24 61.952 138.24 138.24s-61.952 138.24-138.24 138.24c-76.288 0-138.24-61.952-138.24-138.24-0.512-76.288 61.44-138.24 138.24-138.24zM321.536 830.464c-76.288 0-138.24-61.952-138.24-138.24s61.952-138.24 138.24-138.24c76.288 0 138.24 61.952 138.24 138.24s-61.952 138.24-138.24 138.24zM718.336 830.464c-76.288 0-138.24-61.952-138.24-138.24s61.952-138.24 138.24-138.24c76.288 0 138.24 61.952 138.24 138.24s-61.952 138.24-138.24 138.24zM718.336 457.216c-76.288 0-138.24-61.952-138.24-138.24s61.952-138.24 138.24-138.24c76.288 0 138.24 61.952 138.24 138.24s-61.952 138.24-138.24 138.24z')
        symbol#imdb(width='30' height='12' viewBox='0 0 2606 1024')
            path(fill='var(--imdb, #000)' d='M0 0h278.799v1024h-278.799v-1024z')
            path(fill='var(--imdb, #000)' d='M782.982 504.183l-131.583-504.183h-278.799v1024h186.3v-651.399l184.997 651.399h93.802l186.3-651.399v651.399h186.3v-1024h-280.102z')
            path(fill='var(--imdb, #000)' d='M1861.7 186.3c0-165.455-186.3-186.3-186.3-186.3h-372.601v1024c0 0 289.221 0 372.601 0 211.053 0 186.3-186.3 186.3-186.3s0-411.684 0-651.399zM1675.399 743.898c0 0-15.634 92.499-92.499 92.499h-92.499v-651.399h92.499c0 0 92.499 0 92.499 92.499 0 54.718 0 466.402 0 466.402z')
            path(fill='var(--imdb, #000)' d='M2459.684 310.066c-74.26 0-91.196 28.662-126.372 45.598-33.873 18.239-100.316 16.936-100.316 16.936v-372.601h-186.3v1024h186.3v-80.774c0 0 52.112 13.028 93.802 49.506s112.041 31.267 112.041 31.267c91.196-1.303 162.85-69.048 166.758-123.766 0 0 0-377.812 0-433.832 0-57.323-71.654-156.336-145.913-156.336zM2419.298 850.728c0 0-32.57 59.929-89.893 59.929s-96.407-44.295-96.407-44.295v-427.318c0 0 50.809-15.634 93.802-15.634s92.499 31.267 92.499 54.718c0 23.45 0 372.601 0 372.601z')
        symbol#play(width='50' height='50' viewBox='0 0 1024 1024')
            path(fill='var(--play, #000)' d='M512 25.088c268.8 0 486.912 218.624 486.912 486.912s-218.624 486.912-486.912 486.912-486.912-218.112-486.912-486.912 218.112-486.912 486.912-486.912zM512 0c-282.624 0-512 229.376-512 512s229.376 512 512 512 512-229.376 512-512-229.376-512-512-512v0z')
            path(fill='var(--play, #000)' d='M430.592 424.448v175.104l162.816-87.552z')
        symbol#arrow-bold-down(width='8' height='6' viewBox='0 0 1024 820')
            path(d='M1023.6 102.8L511.6 819.6L-0.400024 102.8L142.96 0.399963L511.6 516.496L880.24 0.399963L1023.6 102.8Z' fill='var(--arrow, #000)')
        symbol#choose-series(width='30' height='13' viewBox='0 0 1024 435')
            path(fill='var(--choose-series, #000)' d='M932.352 126.216C888.32 126.216 851.456 157.448 842.752 199.432H692.736C684.032 117 614.912 53 530.432 53C445.952 53 376.832 117 367.616 199.432H181.248C172.544 157.448 135.68 126.216 91.648 126.216C40.96 126.216 0 167.176 0 217.352C0 268.04 40.96 309 91.648 309C135.68 309 172.544 277.768 181.248 235.784H367.616C376.832 317.704 445.952 382.216 530.432 382.216C614.912 382.216 684.032 318.216 693.248 235.784H843.264C851.968 277.768 888.832 309 932.864 309C983.552 309 1024.51 268.04 1024.51 217.352C1024 167.176 983.04 126.216 932.352 126.216ZM91.648 272.648C61.44 272.648 36.864 248.072 36.864 217.864C36.864 187.656 61.44 163.08 91.648 163.08C121.856 163.08 146.432 187.656 146.432 217.864C146.432 248.072 121.856 272.648 91.648 272.648ZM530.432 345.352C459.776 345.352 402.432 288.008 402.432 217.352C402.432 146.696 459.776 89.352 530.432 89.352C601.088 89.352 658.432 146.696 658.432 217.352C658.432 288.008 601.088 345.352 530.432 345.352ZM932.352 272.648C902.144 272.648 877.568 248.072 877.568 217.864C877.568 187.656 902.144 163.08 932.352 163.08C962.56 163.08 987.136 187.656 987.136 217.864C987.136 248.072 963.072 272.648 932.352 272.648Z')
        symbol#chevron-up(width='18' height='12' viewBox='0 0 1024 816')
            path(fill='var(--chevron-up, #000)' d='M-.4 713.717L511.6.4l512 713.317-143.36 101.902L511.6 302.031 142.96 815.619-.4 713.717z')
        symbol#chevron-down-flat(width='14' height='10' viewBox='0 0 14 10')
            path(d="M1 1.5L7 8L13 1.5" stroke="var(--chevron-down-flat, #000)" stroke-width="2")
        symbol#info(width='14' height='14' viewBox='0 0 330 330')
            path(fill='var(--info, #000)' d="M165,0C74.019,0,0,74.02,0,165.001C0,255.982,74.019,330,165,330s165-74.018,165-164.999C330,74.02,255.981,0,165,0z    M165,300c-74.44,0-135-60.56-135-134.999C30,90.562,90.56,30,165,30s135,60.562,135,135.001C300,239.44,239.439,300,165,300z")
            path(fill='var(--info, #000)' d="M164.998,70c-11.026,0-19.996,8.976-19.996,20.009c0,11.023,8.97,19.991,19.996,19.991   c11.026,0,19.996-8.968,19.996-19.991C184.994,78.976,176.024,70,164.998,70z")
            path(fill='var(--info, #000)' d="M165,140c-8.284,0-15,6.716-15,15v90c0,8.284,6.716,15,15,15c8.284,0,15-6.716,15-15v-90C180,146.716,173.284,140,165,140z")
        symbol#sort(width='14' height='14' viewBox='0 0 490 490')
            path(fill="var(--sort-arrow-down, #000)" d="M261.294,326.102c-8.3-7.3-21.8-6.2-29.1,2.1l-77,86.8v-346.9c0-11.4-9.4-20.8-20.8-20.8s-20.8,9.4-20.8,20.8v346.9    l-77-86.8c-8.3-8.3-20.8-9.4-29.1-2.1c-8.3,8.3-9.4,20.8-2.1,29.1l113.4,126.9c8.5,10.5,23.5,8.9,30.2,0l114.4-126.9    C270.694,347.002,269.694,333.402,261.294,326.102z")
            path(fill="var(--sort-arrow-up, #000)" d="M483.994,134.702l-112.4-126.9c-10-10.1-22.5-10.7-31.2,0l-114.4,126.9c-7.3,8.3-6.2,21.8,2.1,29.1    c12.8,10.2,25.7,3.2,29.1-2.1l77-86.8v345.9c0,11.4,9.4,20.8,20.8,20.8s20.8-8.3,20.8-19.8v-346.8l77,86.8    c8.3,8.3,20.8,9.4,29.1,2.1C490.194,155.502,491.294,143.002,483.994,134.702z")
        symbol#mic(width='8' height='11' viewBox='0 0 8 11')
            rect(fill="var(--mic, #000)" x="2" width="4" height="7" rx="2")
            path(fill="var(--mic, #000)" d="M8 4.5C8 5.69347 7.57857 6.83807 6.82843 7.68198C6.07828 8.52589 5.06087 9 4 9C2.93913 9 1.92172 8.52589 1.17157 7.68198C0.421428 6.83807 1.60186e-07 5.69347 0 4.5H0.856618C0.856619 5.43789 1.1878 6.33736 1.77729 7.00055C2.36679 7.66373 3.16632 8.0363 4 8.0363C4.83368 8.0363 5.63321 7.66373 6.22271 7.00054C6.8122 6.33736 7.14338 5.43789 7.14338 4.5H8Z")
            rect(fill="var(--mic, #000)" x="3.53536" y="8.36364" width="0.929293" height="1.85859")
        symbol#star(width="16" height="16" viewBox="0 0 16 16")
            path(fill="var(--star, transparent)" d="M8 0L10.6803 4.31088L15.6085 5.52786L12.3368 9.40912L12.7023 14.4721L8 12.56L3.29772 14.4721L3.66318 9.40912L0.391548 5.52786L5.3197 4.31088L8 0Z")
            path(fill="var(--star-border, #000)" fill-rule="evenodd" clip-rule="evenodd" d="M10.6803 4.31088L8 0L5.3197 4.31088L0.391548 5.52786L3.66318 9.40912L3.29772 14.4721L8 12.56L12.7023 14.4721L12.3368 9.40912L15.6085 5.52786L10.6803 4.31088ZM13.8073 6.11311L10.0458 5.18423L8 1.89389L5.95422 5.18423L2.19274 6.11311L4.68986 9.07553L4.41092 12.9399L8 11.4805L11.5891 12.9399L11.3101 9.07553L13.8073 6.11311Z")
        symbol#message(width="16" height="14" viewBox="0 0 16 14")
            path(stroke="var(--message, #000)" fill="transparent" d="M2.75 1C1.7835 1 1 1.76751 1 2.71429V8.71429C1 9.66106 1.7835 10.4286 2.75 10.4286H6.25V13L10.8437 10.4286H13.25C14.2165 10.4286 15 9.66106 15 8.71429V2.71429C15 1.76751 14.2165 1 13.25 1H2.75Z")
        symbol#flag(width="14" height="20" viewBox="0 0 14 20")
            path(fill="var(--flag, #000)" d="M0 0V20L7 12.5L14 20V0H0Z")
        symbol#vk(width="21" height="13" viewBox="0 0 21 13")
            path(fill="var(--vk, #000)" d="M20.5214 0.881563C20.6656 0.37375 20.5214 0 19.8275 0H17.5313C16.9465 0 16.6775 0.320938 16.5333 0.678438C16.5333 0.678438 15.3638 3.64812 13.7108 5.57375C13.1767 6.13031 12.9311 6.30906 12.6388 6.30906C12.4945 6.30906 12.2723 6.13031 12.2723 5.6225V0.881563C12.2723 0.272188 12.1086 0 11.6252 0H8.0152C7.64874 0 7.43043 0.284375 7.43043 0.548438C7.43043 1.12531 8.2569 1.25938 8.34267 2.88438V6.41063C8.34267 7.1825 8.21012 7.32469 7.91774 7.32469C7.13805 7.32469 5.2434 4.34281 4.12065 0.930313C3.89454 0.268125 3.67233 0 3.08367 0H0.787485C0.132547 0 0 0.320938 0 0.678438C0 1.31219 0.779688 4.46063 3.62945 8.62063C5.52799 11.4603 8.20232 13 10.6349 13C12.0969 13 12.2762 12.6588 12.2762 12.0697C12.2762 9.35594 12.1436 9.1 12.8766 9.1C13.2157 9.1 13.8005 9.27875 15.1649 10.6478C16.7243 12.2728 16.9816 13 17.8549 13H20.151C20.806 13 21.1374 12.6588 20.9463 11.9844C20.5097 10.5666 17.5586 7.64969 17.426 7.45469C17.0869 6.99969 17.1843 6.79656 17.426 6.39031C17.4299 6.38625 20.2329 2.275 20.5214 0.881563Z")
        symbol#telegram(width="18" height="15" viewBox="0 0 18 15")
            path(fill="var(--telegram, #000)" d="M17.9487 1.36555L15.2324 14.0945C15.0275 14.9929 14.493 15.2165 13.7336 14.7933L9.59484 11.7628L7.59779 13.6713C7.37679 13.8909 7.19195 14.0746 6.76602 14.0746L7.06337 9.88615L14.7341 2.9986C15.0677 2.70314 14.6618 2.53943 14.2158 2.8349L4.7328 8.76817L0.650295 7.49846C-0.237731 7.22296 -0.253804 6.61606 0.835132 6.19282L16.8035 0.0798794C17.5429 -0.195622 18.1898 0.243583 17.9487 1.36555Z")
