.all-serials {
  margin-bottom: 50px;

  @include mq('md') {
    margin-bottom: 40px;
  }

  .all-serials__tabs {
    @include mq('md', 'min') {
      .swiper-wrapper {
        justify-content: center;
        transform: none !important;
      }
    }
    @include mq('md') {
      .tabs {
        margin-left: calc(-1 * var(--content-padding-left));
        margin-right: calc(-1 * var(--content-padding-right));
      }

      .swiper-container {
        padding-left: var(--content-padding-left);
        padding-right: var(--content-padding-right);
      }
    }

    .swiper-slide {
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }

  .all-serials-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 26px;

    @include mq('md') {
      grid-gap: 20px;
    }
  }

  .btn {
    margin-top: 30px;
  }
}