.comments {
  margin: 30px 0 40px 0;

  h3 {
    margin-bottom: 3px;
    color: #e0e0e0;
    font-size: 26px;

    @include mq('md') {
      margin-bottom: 10px;
      font-size: 24px;
    }
  }

  &-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq('md') {
      margin: 0 calc(-1 * var(--content-padding-right)) 0 calc(-1 * var(--content-padding-left));
      padding: 5px var(--content-padding-right) 5px var(--content-padding-left);
      background: #2F2F33;

      .rating .current-rating {
        font-size: 18px;
      }

      .voting {
        font-size: 0;

        .vote svg, .vote svg use {
          width: 16px;
          height: 16px;
        }
      }

      .vote-count {
        margin-top: 2px;
      }
    }

    .voting {
      margin: 0;
      font-size: 13px;
      color: #828282;
    }

    .vote-count {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}