.tabs {
  margin-bottom: 20px;
  position: relative;
  background-color: rgba(20, 20, 22, 0.4);

  .wrapper-item {
    padding: 0;
    position: relative;
  }

  .swiper-slide {
    display: inline-block;
    width: auto;
    padding: 0;
  }

  .item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2px 15px;
    height: 28px;
    font-size: 14px;
    color: #BDBDBD;
    border: 1px solid #4F4F4F;
    transition: 0.3s;


    @include mq('md') {
      font-size: 13px;
      transition: 0s;

      &.hover, &:focus {
        color: #fff !important;
      }
    }

    svg {
      width: 18px;
      height: 12px;
      position: absolute;
      bottom: 2px;
      left: 50%;
      right: 0;
      margin-left: -9px;
      --chevron-up: var(--color-primary);
      display: none;
    }

    &[aria-selected="true"] {
      border: 2px solid var(--color-primary);
      color: #F2F2F2 !important;
      font-weight: 400;

      svg {
        display: block;
      }
    }

    &[aria-selected="true"],
    &:hover {
      border: 2px solid var(--color-primary);
      color: #F2F2F2 !important;
      font-weight: 400;

      &:before {
        display: none;
      }
    }

    &:not([aria-selected="true"]):hover {
      border-width: 1px;
    }
  }

  .swiper-slide-active .item {
    color: #fff;
    font-weight: 400
  }

  .swiper-button-prev {
    left: -30px;
  }

  .swiper-button-next {
    right: -30px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
    z-index: 20;
    padding: 3px 2px;
    position: absolute;
    top: 0;
    border: 2px solid var(--color-primary);
    background: #252529;
    --arrow: var(--color-primary);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.swiper-button-disabled {
      display: none;
    }

    &:focus {
      --arrow: var(--color-primary);
      background: #252529;
    }

    &:hover {
      --arrow: white;
      background: var(--color-primary);
    }

    span {
      display: none;
    }
  }
}
