.episode-card {
  a {
    color: #bdbdbd;
    display: flex;
    flex-direction: column;

    &:hover {
      color: var(--color-primary);
    }

    @include mq('md') {
      font-size: 14px;
    }
  }

  .episode-card__img {
    position: relative;
    margin-bottom: 8px;
    aspect-ratio: 31 / 19;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      position: absolute;
      content: "";
    }

    .episode-card__sound {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 57%;
      padding: 4px 10px;
      font-size: 12px;
      line-height: 16px;
      z-index: 1;
      display: inline-flex;
      justify-content: flex-end;
      align-items: flex-end;
      color: white;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0) 100%);

      @include mq('md') {
        font-size: 11px;
      }

      svg {
        --mic: var(--color-primary);
        margin-right: 6px;
      }

      span {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  .episode-card__name,
  .episode-card__description{
    display: flex;
    line-height: 1.25;
  }

  .episode-card__name {
    strong {
      margin-right: 5px;
    }
  }
}
