.one-serial-information {
  .episode-description {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #4b4b4e;
    margin-bottom: 15px;

    .btn-border {
      margin-top: 10px;
      color: #f2f2f2;
      --message: #f2f2f2;

      svg {
        margin-right: 10px;
      }
    }

    @include mq('lg') {
      flex-direction: column-reverse;

      .btn-border {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }

    @include mq('sm') {
      .episode-description-right,
      .btn-border {
        width: 100%;
      }
    }
  }
  .text-serial-b {
    padding-right: 30px
  }

  h2 {
    color: #e0e0e1
  }

  .under-article {
    color: #7c7d7f;
    font-size: 15px;

    span {
      color: #b6b6b6;

      a {
        color: inherit;
        border-bottom: 1px solid #636363;

        &:hover {
          color: var(--color-primary);
          border-bottom-color: var(--color-primary);
        }
      }
    }
  }
}
