.header {
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: #000;
  margin: 0 auto 200px !important;
  display: flex;
  align-items: center;
  justify-content: center;

  .center-bl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include mq("md") {
    margin-bottom: 0 !important;

    body{
      margin-top:158px !important
    }
  }

  .header__logo {
    line-height: 0;
    flex-shrink: 0;

    img {
      width: auto;
      height: auto;
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 15%;

    &-nav {
      margin-right: 10px;
      flex-shrink: 0;

      svg {
        --chevron-down-flat: #F2F2F2;
        margin-left: 7px;
        display: inline-block;
        position: relative;
        transition: .1s;
      }

      &__drop-list {
        display: inline-block;
        position: relative;

        &:not(:last-child) {
          margin-right: 15px;
        }

        a {
          color: #f2f2f2;
        }

        &.hover > a,
        &:hover > a {
          transition: .1s;
          color: var(--color-primary);

          svg {
            transform: rotate(180deg);
            --chevron-down-flat: var(--color-primary);
          }
        }

        &.hover .header-menu-nav__wrapper-drop,
        &:hover .header-menu-nav__wrapper-drop {
          display: block;
        }
      }

      &__wrapper-drop {
        position: absolute;
        top: 46px;
        left: 0;
        padding-top: 4px;
        display: none;

        &:before {
          top: -40px;
          left: 0;
          right: 0;
          height: 40px;
          content: "";
          position: absolute;
          display: block;
        }
      }

      &__drop-menu {
        width: auto;
        padding: 15px;
        z-index: 10;
        display: flex;
        background-color: rgba(0, 0, 0, .9);

        ul {
          min-width: 180px;
          padding: 0 30px;
          border-right: 1px solid #2f2f33;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
            border-right: 0;
          }

          li:not(:last-of-type) {
            margin-bottom: 5px;
          }

          a {
            color: #f2f2f2;
            font-size: 13px;
            letter-spacing: .12px;

            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }

  &__link-on-last-episodes {
    color: #F2F2F2;
    position: relative;
    display: inline-block;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
      height: 2px;
      background: var(--color-primary);
    }
  }

  &__social {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-gap: 14px;

    a {
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      background: #252529;
      border: 1px solid #4f4f4f;
      --flag: #e0e0e0;
      --vk: #e0e0e0;
      --telegram: #e0e0e0;
      color: #F2F2F2;
      transition: 0.1s;

      span {
        display: none;
        margin-left: 8px;
        font-size: 14px;
      }

      &:hover {
        color: var(--color-primary);
        border-color: var(--color-primary);
        --flag: var(--color-primary);
        --vk: var(--color-primary);
        --telegram: var(--color-primary);
      }
    }
  }
}

.btn-menu-mobile {
  width: 40px;
  height: 40px;
  padding: 12px 9px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  i {
    height: 2px;
    width: 100%;
    display: inline-block;
    background: #f2f2f2;
    transition: 0.15s;

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-top: 5px;
    }
  }
}

.box-close-menu {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background: rgba(0, 0, 0, .4);
  transition: 0.25s;
}

@include mq('xl') {
  .header {
    height: 55px;
    padding: 10px;
    z-index: 100;

    &__social {
      grid-template-columns: 35px 35px 35px;

      a {
        height: 35px;
      }
    }
  }
}

@include mq('md') {
  .header {
    &__link-on-last-episodes {
      display: none;

      .mobile {
        display: inline-block;
      }
    }

    &__social {
      width: 100%;
      grid-gap: 16px 20px;
      grid-template-columns: 1fr 1fr;

      a {
        &:last-child {
          grid-column: 1 / span 2;
        }

        span {
          display: inline-block;
        }
      }
    }

    &-menu {
      transition: .3s;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: flex-start;
      position: fixed;
      left: 0;
      top: 55px;
      bottom: 0;
      transform: translate3d(-100%, 0, 0);
      z-index: 100;
      margin: 0;
      background: #252529;
      padding: 20px 14px 0 14px;

      &-nav {
        width: 100%;
        margin: 30px 0 0 0;
        overflow-y: auto;
        max-height: calc(100% - 130px);

        &__drop-list {
          padding: 0;
          display: block;

          & > a {
            display: none;
          }
        }

        &__wrapper-drop {
          position: relative;
          top: 0;
          display: block;
          padding: 0;

          &::before {
            content: none;
          }
        }

        &__drop-menu {
          display: flex;
          flex-direction: column;
          padding: 0;
          background: none;

          ul {
            width: 100% !important;
            padding: 0;
            border-right: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;

            &:not(:first-child) {
              margin-top: 20px;
            }

            li:not(:last-of-type) {
              margin: 0;
            }

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              height: 50px;
              padding: 5px 15px;
              border: 2px solid var(--color-primary);
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .menu-open {
    .header-menu {
      transform: translate3d(0, 0, 0);
    }

    .box-close-menu {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }

    .btn-menu-mobile {
      i {
        &:nth-child(2) {
          opacity: 0;
        }

        &:first-child {
          transform: rotate(-45deg) translate(-5px, 5px);
        }

        &:last-child {
          transform: rotate(45deg) translate(-5px, -5px);
        }
      }
    }
  }

  .btn-menu-mobile {
    display: inline-flex;
  }
}
