.micromodal {
  display: none;

  &.is-open {
    display: block;
  }

  &[aria-hidden="false"] {
    .micromodal__overlay {
      animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .micromodal__container {
      animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
    }
  }

  &[aria-hidden="true"] {
    .micromodal__overlay {
      animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .micromodal__container {
      animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
    }
  }

  .micromodal__container,
  .micromodal__overlay {
    will-change: transform;
  }

  &__overlay {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center
  }

  &__container {
    background-color: transparent;
    width: 100%;
    max-width: 780px;
    max-height: 100vh;
    position: relative;
  }

  &__content {
    display: flex;
    position: relative;
  }

  &__close {
    background: transparent;
    border: 0;
    position: absolute;
    top: -40px;
    right: 0;
    color: #fff;
    padding: 0;
    font-size: 25px;
    cursor: pointer;
    transition: .25s ease-in-out;

    &:hover {
      opacity: .8;
    }
  }

  &_iframe {
    .micromodal__content {
      position: relative;
      padding-top: 61%
    }

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
    }
  }

  &-trailer {
    background-color: transparent;
    padding: 0;
  }
}

@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(20px); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-20px); }
}