.text-information {
  color: hsla(0, 0%, 78%, .6);
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .07px;
  word-break: break-word;

  @include mq('md') {
    font-size: 14px;

    .under-article {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 20px;
    }

    .article {
      font-size: 22px;
      line-height: 25px;
    }

    div, p {
      font-size: 16px;
    }
  }

  .article {
    margin-bottom: 13px;
    color: hsla(0, 0%, 100%, .8);
    font-size: 26px;
    letter-spacing: .13px;
  }

  .under-article {
    margin-bottom: 12px;
    color: #858587;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .09px;
    line-height: 28px;
  }

  p {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.text-list-serial {
    p {
      margin-bottom: 15px;
    }

    h4 {
      color: #bdbdbd;

      &:first-child {
        padding-top: 0;
      }
    }

    .description-serials {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    @include mq("sm") {
      .trailer-mobile {
        margin-bottom: 30px;
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
}

main.content > .text-information {
  max-width: 830px;

  &.one-serial-information {
    max-width: 100%;
  }
}
