.wrapper-one-serial {
  margin: 0 -15px 35px;
  padding: 15px 15px 30px;
  background-color: #2f2f33;

  @include mq("xs") {
    margin: 0 -15px 30px;
    padding: 15px 15px 30px;
  }
}

.player-serial {
  height: 431px;
  margin-bottom: 19px;
  position: relative;
  background-color: #000;

  @include mq('md') {
    padding-top: 1.5625rem;
    padding-bottom: 52.5%;
    height: 0;
    overflow: hidden;
    position: relative
  }

  iframe {
    width: 100%;
    height: 431px;

    @include mq('md') {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%
    }
  }
}

.slider-btn-bottom {
  height: 28px;
  background-color: #1c1c1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .prev-series,
  .next-series {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    strong {
      flex: 0 0 28px;
      max-width: 28px;
      height: 28px;
      text-align: center;
      --arrow: var(--color-primary);
      background-color: #252529;
      border: 2px solid var(--color-primary);
      font-size: 10px;
      z-index: 10;
      position: relative;
      transition: 0.3s;

      &:before {
        display: inline-block;
      }
    }

    &.hover, &:hover, :focus {
      color: var(--color-primary);

      strong {
        --arrow: #fff;
        background-color: var(--color-primary);
        transition: 0.3s;
      }
    }

    span {
      white-space: nowrap;
      line-height: 1;

      @include mq('md') {
        display: none;
      }
    }
  }

  .prev-series {
    strong {
      margin-right: 15px;
    }
  }

  .next-series {
    justify-content: flex-end;

    strong {
      margin-left: 15px;
    }
  }

  .one-slide-btn {
    user-select: none;

    &:nth-child(1) {
      text-align: left;
      flex: 0 0 30%;
      max-width: 30%;
    }

    &:nth-child(2) {
      text-align: center;
      flex: 0 0 40%;
      max-width: 40%;
    }

    &:nth-child(3) {
      text-align: right;
      flex: 0 0 30%;
      max-width: 30%;
    }
  }
}

.choose-series {
  user-select: none;
  width: 186px;
  height: 28px;
  padding: 4px;
  --choose-series: white;
  font-size: 12px;
  font-weight: 400;
  z-index: 5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid var(--color-primary);
  background-color: #252529;
  transition: 0.3s;

  @include mq("xs") {
    width: 116px;
    font-size: 12px;

    svg {
      margin-right: 0;
      display: none;
    }

    span {
      display: block
    }
  }

  svg {
    margin-right: 10px;
  }

  span {
    line-height: 1;
  }

  &:hover, &.hover {
    background-color: var(--color-primary);
    color: white;
  }
}
