.rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 135px;
}

.voting {
  margin: -6px -6px 0 -6px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  .vote {
    padding: 6px;
    --star-border: var(--color-primary);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      margin: 0;

      @include mq('md') {
        width: 22px;
        height: 22px;

        use {
          width: 22px;
          height: 22px;
        }
      }
    }

    &.hover {
      --star: var(--color-primary);
    }
  }
}

.rating {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;

  .vote-count {
    color: #828282;
    font-size: 13px;
    margin-right: 6px;
    line-height: 1;
  }

  .current-rating {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--color-primary);
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;

    svg {
      margin-right: 5px;
      --star-border: transparent;
      --star: var(--color-primary)
    }
  }
}