.recommend-serials {
  .recommend-serials__mobile-title {
    display: none;
  }

  @include mq('md') {
    .recommend-serials__mobile-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      background: #1E1E21;
      font-weight: 700;
      padding: 10px var(--content-padding-right) 10px var(--content-padding-left);
      margin-left: calc(-1 * var(--content-padding-left));
      margin-right: calc(-1 * var(--content-padding-right));
      color: var(--color-primary);
      font-size: 20px;
    }
  }

  &-slider {
    margin-bottom: 50px;

    &:not(.swiper-container-initialized) .swiper-wrapper {
      display: flex;
      grid-gap: 26px;

      .swiper-slide {
        flex: 0 0 calc(20% - 20px);
        max-width: calc(20% - 20px);
      }

      @include mq('lg') {
        .swiper-slide {
          flex: 0 0 25.8%;
          max-width: 25.8%;
        }
      }

      @include mq('sm') {
        grid-gap: 12px;

        .swiper-slide {
          flex: 0 0 38%;
          max-width: 38%;
        }
      }
    }

    .swiper-slide {
      margin-left: 0;
    }

    @include mq('lg') {
      padding: 0 var(--content-padding-right) 0 var(--content-padding-left);
      margin-left: calc(-1 * var(--content-padding-left));
      margin-right: calc(-1 * var(--content-padding-right));
    }

    @include mq('md') {
      margin-bottom: 40px;

      .recommend-serials__mobile-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px var(--content-padding-right) 13px var(--content-padding-left);
        margin-left: calc(-1 * var(--content-padding-left));
        margin-right: calc(-1 * var(--content-padding-right));
        color: var(--color-primary);
        font-size: 20px;
      }
    }
  }
}
