.schedule-last-episodes {
  & > .h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  &-list {
    @include mq('md') {
      max-height: 640px;
      overflow-y: auto;
    }
  }

  &-item {
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    &__title {
      position: relative;
      background: #141416;
      color: #bdbdbd;
      padding: 5px 27px;
      margin-bottom: 14px;

      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        width: 15px;
        background: var(--color-primary);
      }

      @include mq('md') {
        margin-bottom: 12px;
        padding-left: 24px;

        &:before {
          width: 11px;
        }
      }
    }

    &__episodes {
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 20px;

      @include mq('md') {
        grid-gap: 16px;
      }

      li {
        display: inline-flex;
        flex-direction: column;
        font-size: 18px;
      }
    }
  }
}