.serial-card {
  a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &:hover {
      .serial-card__name {
        color: var(--color-primary);
      }
    }
  }

  .serial-card__img {
    aspect-ratio: 17 / 25;
    display: flex;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .serial-card__name {
    min-height: 42px;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    line-height: 1.3125;

    @include mq('md') {
      margin-top: 7px;
    }
  }
}