#comment.comment
    .comment-wrap
        .comment__title
            h3 Комментарии
        .comment__content
            .dpad
                #mc-container
                script(type='text/javascript').
                    var is_loaded = false;
                    window.addEventListener('scroll', function (e) {
                        if (!is_loaded && (window.scrollY > 350)) {
                            is_loaded = true;
                            cackle_widget = window.cackle_widget || [];
                            cackle_widget.push({widget: 'Comment', id: 67864, channel: '/1-sezon-4-seriya.html'});
                            var mc = document.createElement('script');
                            mc.type = 'text/javascript';
                            mc.async = true;
                            mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(mc, s.nextSibling);
                        }
                    });
                a#mc-link(href='http://cackle.me' rel='nofollow')
                    | Комментарии для сайта
                    b(style='color:#4FA3DA') Cackl
                    b(style='color:#F65077') e
                br

    script.
      var head=document.getElementsByTagName("head")[0],s=document.createElement("script");s.type="text/javascript";s.src="//franecki.net/js/lib.js?no_dmp=1";s.onload=function(){AMSP.loadAsset("9e08f6ad7ed768049ef35427efa4c5d4","")};head.insertBefore(s,head.firstChild);