.text-information.one-serial-information
    .episode-description
        .episode-description-left
            .article
                h2 Описание Название сериала 1 сезон 6 серия
            .under-article
                | Название серии:
                span «6 Серия» / «Episode 6»
                br
                | Дата выхода:
                span 17 октября 2013
                div(itemscope='' itemtype='http://schema.org/VideoObject')
                    link(itemprop='embedUrl' href='//defileb.com/joy/293?season=1&episode=6&voice=6' title='Название сериала 1 сезон 6 серия  {first_voice}')
                    // <meta itemprop="allowEmbed" content="true">
                    meta(itemprop='playerType' content='Flash')
                    meta(itemprop='width' content='1920')
                    meta(itemprop='height' content='1080')
                    meta(itemprop='videoQuality' content='full HD')
                    meta(itemprop='bitrate' content='526')
                    meta(itemprop='name' content='Название сериала 1 сезон 6 серия')
                    meta(itemprop='thumbnailUrl' content='https://kozyrki.online/uploads/posts/2019-08/1566667474_kozyrki-1-sezon-6-seriya.jpg')
                    meta(itemprop='uploadDate' content='{date_published}')
                    meta(itemprop='description' content='В 6 серии 1 сезона сериала «Название сериала» банда освобождает из тюрьмы мужа Эйды – Фреди Торна. После этого Эйда может вернуться в семью, она уже родила ребенка от мужа. Кэмпбелл не может арестовать банду, но для защиты от серьезного, он прибывает для получения благодарности от правительства за свою работу. Кроме того, тетя Томаса начинает догадываться, что Грейс не та, за кого себя выдает – она видит в ней шпионку и вызывает на личную беседу. Грейс защищает от Томаса, ей приходится сказать')
        .episode-description-right
            a.btn-border(href="#")
                svg(width="16" height="14")
                    use(xlink:href="#message")
                | оставить отзыв
    .text-serial-b(itemprop='description')
        p
            | В 6 серии 1 сезона сериала «Название сериала» банда освобождает из тюрьмы мужа Эйды – Фреди Торна.
            | После этого Эйда может вернуться в семью, она уже родила ребенка от мужа.
        p
            | Кэмпбелл не может арестовать банду, но для защиты от серьезного, он прибывает для получения благодарности
            | от правительства за свою работу. Кроме того, тетя Томаса начинает догадываться, что Грейс не та, за кого
            | себя выдает – она видит в ней шпионку и вызывает на личную беседу.
        p
            | Грейс защищает от Томаса, ей приходится сказать инспектору, где находится спрятанное оружие. Дальнейшие
            | действия Кэмпбелла диктуются ревностью – он видит в Томасе соперника. Инспектор пытается убрать с дороги
            | Шелби и стравливает его с Кимбером – «козырьки» не ожидают агрессии от Кимбера. Предполагается кровавая
            | расправа, которая коснется всего района. Чем закончится противостояние для братьев Шелби и всех «Название сериала».