.schedule-last-episodes
    h2.h2 Новые серии
    .schedule-last-episodes-list
        .schedule-last-episodes-item
            .schedule-last-episodes-item__title Сегодня, 21 сентября
            ul.schedule-last-episodes-item__episodes
                li
                    strong Агенты «Щит»
                    span 5 сезон 21 серия / ColdFilm
                li
                    strong Наследие
                    span 5 сезон 21 серия / Англ. субтитры
                li
                    strong Супергёрл
                    span 8 сезон 4 серия / ColdFilm
                li
                    strong Флэш
                    span 5 сезон 21 серия / Кураж Бомбей
        .schedule-last-episodes-item
            .schedule-last-episodes-item__title Вчера, 20 сентября
            ul.schedule-last-episodes-item__episodes
                li
                    strong Агенты «Щит»
                    span 5 сезон 21 серия / ColdFilm
                li
                    strong Наследие
                    span 5 сезон 21 серия / Англ. субтитры
                li
                    strong Супергёрл
                    span 8 сезон 4 серия / ColdFilm
                li
                    strong Флэш
                    span 5 сезон 21 серия / Кураж Бомбей
                li
                    strong Что если?
                    span 1 сезон 3 серия / Рус. субтитры
