.translation-slider
    .overflow-series
        .wrapper-item.sounds-tabs.clearfix
            .swiper-button.swiper-button-prev
                span
                    svg(width='10' height='10')
                        use(xlink:href='#arrow-left')
            .swiper-button.swiper-button-next
                span
                    svg(width='10' height='10')
                        use(xlink:href='#arrow-right')
            .swiper-container
                .swiper-wrapper
                    each sound, key in ['LostFilm', 'Дубляж', 'Кубик в Кубе', 'AlexFilm', 'Субтитры', 'Кубик в Кубе', 'AlexFilm', 'Субтитры']
                        .swiper-slide
                            a.item(aria-selected=!key ? 'true' : 'false' href='javascript:;' data-sound='//link.com?sound='+key)= sound
                                svg(width='18' height='12')
                                    use(xlink:href='#chevron-up')