a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: ""
}

ins {
  text-decoration: none
}

del {
  text-decoration: line-through
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

article, aside, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}

body {
  min-height: 100%;
  color: white;
}

.full-center-flex {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center
}

.brand-color, .brand-list {
  color: var(--color-primary, #6ec198)
}

.brand-list:focus, .brand-list:hover {
  color: var(--color-primary);
  text-decoration: none
}

button {
  user-select: none !important;
}

a:focus, button:focus {
  outline: none !important
}

body {
  min-width: 300px;
  font-size: 16px;
  line-height: 1.3;
  font-family: PTSans, sans-serif;
  font-weight: 400;
  background-color: #2f2f33
}

.object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

* html .page-wrapper {
  height: 100%
}

.center-bl {
  max-width: 1024px;
  margin: 0 auto;
  position: relative
}

.border-none {
  border: 0 !important
}

.vertical-middle-wrapper {
  width: 100%;
  content: "";
  display: table;
  height: 100%;
  vertical-align: middle
}

.vertical-middle-wrapper > * {
  vertical-align: middle !important;
  height: 100% !important;
  display: table-cell !important
}

img {
  max-width: 100%
}

a {
  color: #fff;

  &:hover,
  .hover {
    color: var(--color-primary);
    opacity: 1
  }
}

a, a:hover {
  text-decoration: none;
  transition: .3s
}

a.link-underline:hover {
  text-decoration: none
}

a.link-underline {
  text-decoration: underline;
  color: #3c3340
}

input:focus, textarea:focus {
  outline: none
}

* {
  box-sizing: border-box
}

.clearfix:after {
  width: 100%;
  display: table;
  clear: both;
  content: ""
}

b {
  font-weight: 700
}

h3 {
  margin-bottom: 13px;
  color: hsla(0, 0%, 100%, .8);
  font-weight: 500
}

h3, h4 {
  font-size: 20px
}

h4 {
  margin-bottom: 12px;
  padding-top: 10px;
  color: hsla(0, 0%, 100%, .6);
  font-weight: 400;
  letter-spacing: .1px
}

.border-none {
  border: 0 !important;
}

.text-center {
  text-align: center;
}

hr {
  border: none;
  border-bottom: 1px solid #4f4f4f;
  margin-top: 25px;
  margin-bottom: 25px;
}