:root {
  --content-padding-top: 32px;
  --content-padding-right: 40px;
  --content-padding-bottom: 60px;
  --content-padding-left: 40px;

  @include mq('md') {
    --content-padding-top: 30px;
    --content-padding-right: 25px;
    --content-padding-bottom: 55px;
    --content-padding-left: 25px;
  }

  @include mq('xs') {
    --content-padding-top: 20px;
    --content-padding-right: 15px;
    --content-padding-left: 15px;
  }
}