.description-serials {
  .rating-container {
    margin-top: 8px;
  }

  & + hr {
    margin-top: 40px;

    @include mq("md") {
      margin-top: 22px;
    }
  }

  @include mq('md') {
    .right-desc .caption-desc {
      padding-bottom: 46px;
      position: relative;
    }

    .rating-container {
      min-width: 80px;
      margin-top: 2px;
    }


    .rating {
      flex-direction: column-reverse;
      align-items: flex-end;

      .current-rating {
        margin-bottom: 6px;
      }
    }

    .vote-count {
      margin-right: 0;
    }

    .voting {
      border-top: 1px solid #4F4F4F;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 46px;
      margin: 0 -6px 0 0;

      @include mq('md') {
        margin: 0;
      }

      &::before {
        content: "Оценить:";
        font-size: 16px;
        line-height: 1;
        color: #828282;
        margin-right: auto;
      }
    }
  }
}

.caregory-episodes-list {
  margin-bottom: 54px;

  .btn {
    margin-top: 28px;
  }

  @include mq('md') {
    margin-bottom: 50px;

    .btn {
      margin-top: 20px;
    }
  }
}

.category-seasons__tabs {
  @include mq('md') {
    margin-left: calc(-1 * var(--content-padding-left));
    margin-right: calc(-1 * var(--content-padding-right));
    margin-bottom: 16px;

    .swiper-container {
      padding-left: var(--content-padding-left);
      padding-right: var(--content-padding-right);
    }
  }
}