@import "../components/player";
@import "../components/episode-description";

.sounds-tabs {
  padding-top: 0;
  position: relative;
  overflow: hidden;
  margin: 0 0 14px;

  &:before {
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: "";
    display: block;
    background-color: #1c1c1f;
  }

  .swiper-container {
    padding: 0;
    position: relative;

    .swiper-slide {
      display: inline-block;
      width: auto;
      padding: 0;
    }

    .item {
      padding: 9px 40px 20px;
      display: block;
      position: relative;
      font-size: 17px;
      color: #fffefe;

      @include mq('md') {
        font-size: 13px;
        transition: 0s;

        &.hover,
        &:focus {
          color: #fff !important;
        }
      }

      &:hover {
        color: var(--color-primary, #6ec198)
      }

      svg {
        width: 18px;
        height: 12px;
        position: absolute;
        bottom: 2px;
        left: 50%;
        right: 0;
        margin-left: -9px;
        --chevron-up: var(--color-primary);
        display: none;
      }

      &[aria-selected="true"] {
        color: var(--color-primary, #6ec198) !important;
        font-weight: 600;

        @include mq('md') {
          font-weight: 400;
          transition: 0s;
        }

        svg {
          display: block;
        }

        &:before {
          height: 3px;
          left: 0;
          right: 2px;
          bottom: 0;
          position: absolute;
          content: "";
          display: block;
          background-color: var(--color-primary, #6ec198)
        }
      }
    }

    .swiper-slide-active .item {
      color: #fff;
      font-weight: 400
    }
  }

  .swiper-button {
    top: 50%;
    transform: translateY(-26px);
    position: absolute;
    z-index: 2;

    span {
      width: 35px;
      height: 42px;
      border: 1px solid #4f4f4f;
      color: #5f5f5f;
      text-align: center;
      cursor: pointer;
      background: #2F2F33;
      transition: 0.1s;
      display: flex;
      align-items: center;
      justify-content: center;
      --arrow: #828282;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 7px;
      width: 40px;
      height: 28px;
      background: #252529;
      filter: blur(13px);
      z-index: -1;
    }

    &:hover span {
      border-color: var(--color-primary);
      --arrow: var(--color-primary);
    }

    &.swiper-button-disabled {
      display: none;
    }

    &:before {
      display: inline-block;
      font-size: 6px !important;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &.swiper-button-prev {
      left: 0;

      &::before {
        right: -11px;
      }
    }

    &.swiper-button-next {
      right: 0;

      &::before {
        left: -11px;
      }
    }

    @media (max-width: 1024px) {
      transform: translateY(-23px);

      span {
        width: 30px;
        height: 34px;
      }

      &::before {
        bottom: 3px;
      }
    }

    @include mq('md') {
      transform: translateY(-19px);

      span {
        width: 27px;
        height: 31px;
      }

      &::before {
        width: 27px;
        height: 25px;
        background: black;
        filter: blur(7px);
        bottom: 0;
      }

      &.swiper-button-next::before {
        left: -4px;
      }

      &.swiper-button-right::before {
        right: -4px;
      }
    }
  }

  .overflow-series {
    margin: 0;
  }

  @media (max-width: 1024px) {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

    .swiper-container {
      .item {
        padding: 0 25px 20px;
      }
    }
  }

  @include mq('md'){
    .swiper-container {
      .item {
        padding: 0 20px 20px;
      }
    }
  }
}

