include ../../mixins/serial-card.pug
- var serials = [
-   { img: '/images/static/comics/comics-1.png', title: 'Чёрная молния' },
-   { img: '/images/static/comics/comics-2.png', title: 'Мандалорец' },
-   { img: '/images/static/comics/comics-3.png', title: 'Наследие' },
-   { img: '/images/static/comics/comics-4.png', title: 'Супергерл' },
-   { img: '/images/static/comics/comics-5.png', title: 'Что, если?' }
- ]

.all-serials
    .all-serials__tabs
        .tabs
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a.item(aria-selected='true' href='#ms' title='Marvel Studios') Marvel Studios
                    .swiper-slide
                        a.item(aria-selected='false' href='#dc' title='DC Entertainment') DC Entertainment
                    .swiper-slide
                        a.item(aria-selected='false' href='#sw' title='Star Wars') Star Wars

        .all-serials-list
            each serial in serials
                +serial-card(serial.img, serial.title)

        button.btn.full-width Показать все сериалы