include ../../mixins/episode-card.pug
- var episodes = [
-   { img: '/images/static/comics/episodes-main/1.png', name: '<strong>Наследие</strong>', description: '5 сезон 21 серия', sound: 'ColdFilm' },
-   { img: '/images/static/comics/episodes-main/2.png', name: '<strong>Мандалорец</strong>', description: '2 сезон 1 серия', sound: 'ColdFilm' },
-   { img: '/images/static/comics/episodes-main/3.png', name: '<strong>Наследие</strong>', description: '4 сезон 2 серия', sound: 'ColdFilm' },
-   { img: '/images/static/comics/episodes-main/4.png', name: '<strong>Супергерл</strong>', description: '5 сезон 20 серия', sound: 'ColdFilm' },
-   { img: '/images/static/comics/episodes-main/5.png', name: '<strong>Что, если?</strong>', description: '5 сезон 21 серия', sound: 'ColdFilm' },
-   { img: '/images/static/comics/episodes-main/6.png', name: '<strong>Чёрная молния</strong>', description: '5 сезон 21 серия', sound: 'ColdFilm' },
-   { img: '/images/static/comics/episodes-main/7.png', name: '<strong>Мандалорец</strong>', description: '5 сезон 21 серия', sound: 'ColdFilm' },
-   { img: '/images/static/comics/episodes-main/8.png', name: '<strong>Наследие</strong>', description: '5 сезон 21 серия', sound: 'ColdFilm' },
-   { img: '/images/static/comics/episodes-main/9.png', name: '<strong>Супергерл</strong>', description: '5 сезон 21 серия', sound: 'ColdFilm' },
-   { img: '/images/static/comics/episodes-main/10.png', name: '<strong>Что, если?</strong>', description: '5 сезон 21 серия', sound: 'ColdFilm' },
-   { img: '/images/static/comics/episodes-main/11.png', name: '<strong>Чёрная молния</strong>', description: '5 сезон 21 серия', sound: 'ColdFilm' },
-   { img: '/images/static/comics/episodes-main/12.png', name: '<strong>Мандалорец</strong>', description: '5 сезон 21 серия', sound: 'ColdFilm' },
- ]

.last-episodes
    h2.h2.text-center Новые серии
    .last-episodes__list.grid-4
        each episode in episodes
            +episode-card(episode.img, episode.name, episode.description, episode.sound)