meta(charset='utf-8')
meta(name='description' content='Kozyrki.online - смотреть онлайн Название сериала козырьки. Все серии сериала «Название сериала» в озвучке LostFilm доступны в хорошем FullHD качестве!')
meta(name='keywords' content='Название сериала сериал смотреть онлайн все серии бесплатно FullHD 1080p в хорошем качестве Peaky blinders LostFilm лостфильм')
meta(property='og:image' content='https://kozyrki.online//uploads/main.jpg')
//link(rel='canonical' href='https://kozyrki.online/')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='HandheldFriendly' content='true')
meta(name='viewport' content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='default')
meta(name='format-detection' content='telephone=no')
link(rel='preload' as='font' href='fonts/PTSans/PTSans-Regular.ttf' crossorigin='anonymous' type='font/ttf' media='(min-width: 361px)')
link(rel='preload' as='font' href='fonts/PTSans/PTSans-Bold.ttf' crossorigin='anonymous' type='font/ttf' media='(min-width: 361px)')
link(rel='apple-touch-icon' sizes='57x57' href='/apple-icon-57x57.png')
link(rel='apple-touch-icon' sizes='60x60' href='/apple-icon-60x60.png')
link(rel='apple-touch-icon' sizes='72x72' href='/apple-icon-72x72.png')
link(rel='apple-touch-icon' sizes='76x76' href='/apple-icon-76x76.png')
link(rel='apple-touch-icon' sizes='114x114' href='/apple-icon-114x114.png')
link(rel='apple-touch-icon' sizes='120x120' href='/apple-icon-120x120.png')
link(rel='apple-touch-icon' sizes='144x144' href='/apple-icon-144x144.png')
link(rel='apple-touch-icon' sizes='152x152' href='/apple-icon-152x152.png')
link(rel='apple-touch-icon' sizes='180x180' href='/apple-icon-180x180.png')
link(rel='icon' type='image/png' sizes='192x192' href='/android-icon-192x192.png')
link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png')
link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
link(rel='manifest' href='/manifest.json')
meta(name='msapplication-TileColor' content='#F33C51')
meta(name='msapplication-navbutton-color' content='#F33C51')
meta(name='apple-mobile-web-app-status-bar-style' content='#F33C51')
meta(name='theme-color' content='#F33C51')
meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
meta(name='yandex-verification' content='04eb80e49d3dc652')
meta(name='google-site-verification' content='rYlLqL0HUzSuwggbVcvqVFcW52GB-cDU1EmGFL3eZ5k')
style.
    :root {--color-primary: #F33C51}