.rating-container
    .voting
        a.vote(href="javascript:;" data-rating="1")
            svg(width="16" height="16")
                use(xlink:href="#star" width="100%" height="100%")
        a.vote(href="javascript:;" data-rating="2")
            svg(width="16" height="16")
                use(xlink:href="#star" width="100%" height="100%")
        a.vote(href="javascript:;" data-rating="3")
            svg(width="16" height="16")
                use(xlink:href="#star" width="100%" height="100%")
        a.vote(href="javascript:;" data-rating="4")
            svg(width="16" height="16")
                use(xlink:href="#star" width="100%" height="100%")
        a.vote(href="javascript:;" data-rating="5")
            svg(width="16" height="16")
                use(xlink:href="#star" width="100%" height="100%")
    .rating
        .vote-count 767 голосов
        .current-rating
            svg(width="18" height="18")
                use(width="18" height="18" xlink:href="#star")
            | 4.1