.category-seasons__tabs.tabs
    .category-seasons.wrapper-item
        .swiper-container
            .swiper-wrapper
                each season in [5, 4, 3, 2, 1]
                    .swiper-slide
                        a.item(aria-selected=season == 5 ? 'true' : 'false' href='/'+season+'-sezon/' title='Название сериала '+season+' сезон' data-season=season)= season + 'сезон'

.caregory-episodes-list
    include ../../mixins/episode-card.pug
    - var episodes = [
    -   { img: '/images/static/comics/episodes-main/1.png', name: '<strong>5 сезон</strong> 21 серия' },
    -   { img: '/images/static/comics/episodes-main/2.png', name: '<strong>5 сезон</strong> 20 серия' },
    -   { img: '/images/static/comics/episodes-main/3.png', name: '<strong>5 сезон</strong> 19 серия' },
    -   { img: '/images/static/comics/episodes-main/4.png', name: '<strong>5 сезон</strong> 18 серия' },
    -   { img: '/images/static/comics/episodes-main/5.png', name: '<strong>5 сезон</strong> 17 серия' },
    -   { img: '/images/static/comics/episodes-main/6.png', name: '<strong>5 сезон</strong> 16 серия' },
    -   { img: '/images/static/comics/episodes-main/7.png', name: '<strong>5 сезон</strong> 15 серия' },
    -   { img: '/images/static/comics/episodes-main/8.png', name: '<strong>5 сезон</strong> 14 серия' },
    -   { img: '/images/static/comics/episodes-main/9.png', name: '<strong>5 сезон</strong> 13 серия' },
    -   { img: '/images/static/comics/episodes-main/10.png', name: '<strong>5 сезон</strong> 12 серия' },
    -   { img: '/images/static/comics/episodes-main/11.png', name: '<strong>5 сезон</strong> 11 серия' },
    -   { img: '/images/static/comics/episodes-main/12.png', name: '<strong>5 сезон</strong> 10 серия' },
    -   { img: '/images/static/comics/episodes-main/9.png', name: '<strong>5 сезон</strong> 9 серия' },
    -   { img: '/images/static/comics/episodes-main/10.png', name: '<strong>5 сезон</strong> 8 серия' },
    -   { img: '/images/static/comics/episodes-main/11.png', name: '<strong>5 сезон</strong> 7 серия' },
    -   { img: '/images/static/comics/episodes-main/12.png', name: '<strong>5 сезон</strong> 6 серия' },
    - ]

    .grid-4
        each episode in episodes
            +episode-card(episode.img, episode.name)

    button.btn.full-width Показать все серии