.right-desc
    .caption-desc
        .caption-desc-left
            h2(itemprop='name') Сокол и Зимний Солдат
            .under-caption(itemprop='alternativeHeadline') The Falcon and the Winter Soldier
        .caption-desc-right
            include rating.pug
    .box-inform.list-margin.clearfix
        .one-block
            .one-line
                .left-text.width-size-2 Рейтинг:
                .right-text
                    | КП 8.4
                    | IMDB 8.8
            .one-line
                .left-text.width-size-2 Жанр:
                .right-text(itemprop='genre') Драма | Криминал
            .one-line
                .left-text.width-size-2 Статус:
                .right-text Выходит
        .one-block
            .one-line
                .left-text.width-size-2 Страна:
                .right-text(itemprop='countryOfOrigin') Великобритания
            .one-line
                .left-text.width-size-2 Студия:
                .right-text(itemprop='productionCompany') BBC Television Centre
            .one-line
                .left-text.width-size-2 Год выхода:
                .right-text 12 сентября 2013
                meta(itemprop='startDate' content='2013-09-12')
    .box-inform.list-margin.box-information-padding
        .one-line
            .left-text.width-size-3 Актеры:
            .right-text(itemprop='actors')
                | Киллиан Мёрфи, Пол Андерсон, Хелен Маккрори, Софи Рандл, Нед Деннехи, Финн Коул, Иэн Пек, Гарри Киртон, Джо Коул, Наташа О’Кифф
        .one-line
            .left-text.width-size-3 Режиссер:
            .right-text(itemprop='director') Энтони Бирн, Колм МакКарти, Тим Милантс
        .one-line
            .left-text.width-size-3 Сценарий:
            .right-text Стивен Найт, Тоби Финлэй, Стивен Расселл
        .one-line
            .left-text.width-size-3 Оператор:
            .right-text Джордж Стил, Саймон Дэннис, Лори Роуз
        .one-line
            .left-text.width-size-3 Продюсер:
            .right-text(itemprop='producer') Кэрин Мэндабах, Джули Бринкман, Джэми Глазенбрук
        .one-line
            .left-text.width-size-3 Художник:
            .right-text Грант Монтгомери, Ричард Буллок, Стефен Дэйли
        .one-line
            .left-text.width-size-3 Монтаж:
            .right-text Марк Дэвис, Пол Найт, Селия Хэйнинг
        .one-line
            .left-text.width-size-3 Время:
            .right-text 60 мин.
