mixin episode-card(img, name, description, sound)
    .episode-card
        a(href="javascript:;" title=name)
            .episode-card__img
                img(src=img alt=name)
                if (sound)
                    .episode-card__sound
                        span
                            svg(width="8" height="11")
                                use(xlink:href="#mic")
                            = sound
            span.episode-card__name !{name}
            if (description)
                span.episode-card__description= description