doctype html
html(lang='ru-RU')
    head
        title Название сериала 1 сезон смотреть онлайн на русском в хорошем качестве бесплатно!
        include /includes/main/meta.pug

    body
        .banner_header
        .box-close-menu
        .page
            .page-content
                include /includes/header.pug

                .center-bl
                    main.content
                        .series-caption-btns
                            h1.name-serials Сериал Сокол и Зимний Солдат смотреть онлайн
                            .box-series-right
                                a.btn-border.scrollToBtn(href='#cat_descr')
                                    svg(width='15' height='15')
                                        use(width='15' height='15' xlink:href='#info')
                                    |  о сериале
                                a.btn-sort.sort-asc(href='javascript:;')
                                    svg(width='15' height='15')
                                        use(width='15' height='15' xlink:href='#sort')

                        script.
                            document.querySelector('.btn-sort').addEventListener('click', function (e) {
                                e.preventDefault();
                                var type = e.target.closest('.btn-sort').classList.contains('sort-desc') ? 'ASC' : 'DESC';
                                setCookie('episode-sort', type, {expires: 30, path: '/'});
                                location.reload();
                            });

                        include /includes/category/seasons_list.pug

                        #cat_descr.description-serials(itemscope='' itemtype='http://schema.org/TVSeries')
                            include /includes/category/serial_info_left.pug
                            include /includes/category/serial_info_right.pug

                        hr

                        include /includes/category/category-description.pug

            include /includes/footer.pug

        include /includes/icons.pug