doctype html
html(lang='ru-RU')
    head
        include /includes/main/meta.pug
        title Сериалы по комиксам смотреть онлайн
    body
        .banner_header
        .box-close-menu
        .page
            .page-content
                include /includes/header.pug

                .center-bl
                    main.content
                        h1.name-serials.text-center
                            strong Сериалы по комиксам смотреть онлайн

                        include /includes/main/recommend-serials.pug

                        include /includes/main/all-serials.pug

                        include /includes/main/last-episodes.pug

                        hr

                        include /includes/main/description.pug
            include /includes/footer.pug

        include /includes/icons.pug