@import "base/mixins";
@import "base/root";
@import "base/base";
@import "components/header";
@import "components/footer";
@import "components/swiper";
@import "components/page-description";

@import "components/category-header";
@import "components/serial-description";

@import "components/modal";

@import "components/serial-card";
@import "components/recommend-serials";
@import "components/episodes-list__cards";
@import "components/all-serials";
@import "components/episode-card";
@import "components/rating";
@import "components/comment";
@import "components/schedule-last-episodes";

body {
  min-width: 300px;
  font-size: 16px;
  line-height: 1.3;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #e0e0e0;
  background-color: #2f2f33;
}

.mobile {
  display: none;

  @include mq('md') {
    display: block;
  }
}

.full-center-flex {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;

  &-content {
    flex-grow: 1;
  }
}

.center-bl {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.content {
  position: relative;
  padding: var(--content-padding-top) var(--content-padding-right) var(--content-padding-bottom) var(--content-padding-left);
  background-color: #252529;

  @include mq("xs") {
    &.one-serial-dark {
      padding: 20px 15px 55px;
      margin-bottom: 0;

      .name-serials {
        font-size: 22px
      }
    }
  }

  .name-serials {
    margin-bottom: 20px;
    position: relative;
    font-weight: 500;
    color: hsla(0, 0%, 100%, .85);
    font-size: 32px;
    letter-spacing: .16px;
    line-height: 1.28;

    @include mq('md') {
      font-size: 26px;
      line-height: 32px
    }

    @include mq('xs') {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 12px;
    }

    h1 {
      font-weight: 500;
      display: inline
    }
  }
}

h2, .h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 24px;
}

.close-menu-field {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  display: none;

  &.active, &.open {
    display: block;
  }
}

.btn-border {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  padding: 7px 37px 6px;
  color: #F2F2F2;
  font-size: 16px;
  border: 2px solid var(--color-primary);
  transition: 0.3s;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary);
    color: #2F2F33;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  padding: 10px 30px;
  color: #F2F2F2;
  font-size: 16px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  transition: 0.3s;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }
}

.full-width {
  width: 100%;
}

.box-with-btn {
  padding-right: 50px;

  @include mq('md') {
    width: 100%;
    padding-right: 35px;
  }
}

@include mq('md') {
  h2, .h2 {
    font-size: 23px !important;
    line-height: 26px
  }

  h3, .h3 {
    margin-bottom: 10px;
    font-size: 18px
  }
}

.swiper-slide {
  margin-left: 0;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px , 1fr));
  grid-gap: 30px 28px;

  @include mq('md') {
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(140px , 1fr));
  }
}

@import "pages/main";
@import "pages/category";
@import "pages/episode";